/* .fhirRsrIcon {
  background: url('../assets/access_allergies.png');
  background-repeat: no-repeat;
  background-size: 1.25em 1.25em;
  background-position-y: center;
  padding: 0px;
  margin: 0px;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
} */

.fhirRsr.card {
  border-width: 2px;
  font-size: smaller;
  margin-bottom: 2px;
  margin-top: 2px;
}

.fhirRsr:hover .card-header {
  opacity: 1;
  font-weight: 700;
}

.fhirRsr .card-header {
  color: white;
  border-color: gray;
  border: 1px solid lightgray;
  opacity: 0.8;
  padding: 0.5rem 0.5rem;
  font-weight: 500;
  font-size: small;
}

.fhirRsr .card-footer {
  padding: 0.5rem 0.5rem;
}

.fhirRsr .table {
  margin-bottom: 0.25rem;
}

/* fhir Patient Demographics */
.fhirRsr .card-header {
  background-color: rgb(84, 47, 252);
}

.fhirRsr .fhirKey {
  color: rgb(84, 47, 252);
}

.fhirRsr:hover {
  border-color: rgba(84, 47, 252, 0.7);
}

/* fhir Allergy */
.fhirAllergyIntolerance .card-header {
  background-color: rgb(0, 200, 200);
}

.fhirAllergyIntolerance .fhirKey {
  color: rgb(0, 200, 200);
}

.fhirAllergyIntolerance:hover {
  border-color: rgb(0, 200, 200);
}

/* fhir Patient Demographics */
.fhirPatient .card-header {
  background-color: rgb(84, 47, 252);
}

.fhirPatient .fhirKey {
  color: rgb(84, 47, 252);
}

.fhirPatient:hover {
  border-color: rgba(84, 47, 252, 0.7);
}

/* fhir Medication */
.fhirMedicationOrder .card-header,
.fhirMedicationStatement .card-header {
  background-color: yellowgreen;
}

.fhirMedicationOrder .fhirKey,
.fhirMedicationStatement .fhirKey {
  color: yellowgreen;
}

.fhirMedicationOrder:hover,
.fhirMedicationStatement:hover {
  border-color: yellowgreen;
}

/* fhir Immunization */
.fhirImmunization .card-header {
  background-color: purple;
}

.fhirImmunization .fhirKey {
  color: purple;
}

.fhirImmunization:hover {
  border-color: purple;
}

/* fhir Lab Results */
.fhirObservation-laboratory .card-header,
.fhirObservation-social-history .card-header,
.fhirObservation-vital-signs .card-header {
  background-color: #b61004;
}

.fhirObservation-laboratory .fhirKey,
.fhirObservation-social-history .fhirKey,
.fhirObservation-vital-signs .fhirKey {
  color: #b61004;
}

.fhirObservation-laboratory:hover,
.fhirObservation-social-history:hover,
.fhirObservation-vital-signs:hover {
  border-color: #b61004;
}

.fhirKey {
  font-weight: 500;
  border-right: 1px solid lightgray;
  padding-right: 0.5em;
}

.fhirValue {
  color: black;
  padding-left: 0.3em;
}
