
body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: black /* #b6dff1 */;
    background-image: url("../assets/fire-bg2.jpg");
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position-y: 30%;
    height: 100%;
}

.jumbotron {
    box-shadow: 1px 0px 0px 0px rgba(0,0,0,.26), 1px 0px 0px 0px rgba(0,0,0,.16);
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 1em;
}
    

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
    
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

#navbarTop {
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,.16), 1px 2px 5px 1px rgba(0,0,0,.26);
    /* background-image: linear-gradient(to bottom right, rgb(247, 247, 93), rgb(243, 128, 86));  */
    /* background-image: linear-gradient(141deg, rgb(251, 252, 243) 0%, rgb(230, 226, 15) 51%, rgb(241, 201, 115) 75%); */
}

    /* Set black background color, white text and some padding */
footer {
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,.16), 1px 2px 5px 1px rgba(0,0,0,.26);
    /* background-image: url(../Images/background.png); */
}

.box {
    background-color: white;
    padding: 15px;
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,.16), 1px 2px 5px 1px rgba(0,0,0,.26);
    margin: 10px 0px 10px 0px;
}

th {
    text-align:  left;
    
}


.card-header {
    font-size: medium;
    font-weight: bold;
    color: white;
}
.navbar-brand {
    font-weight: 500;
    font-variant: small-caps;
    color: white

}


.navbar-toggle .icon-bar {
    background-color: #428bca;
}


    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    
    @media (max-width: 48em) {
        .card-columns {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }

    @media (min-width: 48em) {
        .card-columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

    @media (min-width: 62em) {
        .card-columns {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }
    }

.navbar-custom {
    background-color: whitesmoke;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #d9534f;;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #d9534f;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
    color: #428bca;;
}



.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }