<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>FHIR Checker</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Site.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    
    <!-- Google AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- Site AngularJS -->
    <script type="text/javascript" src="/js/MyAngularApp.js"></script>

</head>

<body ng-app="myApp" ng-controller="myCtrl" id="page-top">
    
    <!-- Top Navigator Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#page-top">
            <span>Health on</span>
            <img alt="FHIR" src="/assets/fhir.png" width="80" height="40" class="d-inline-block align-text-bottom" />
        </a>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                
            </ul>
        </div>

        <a href="#" class="btn btn-md" ng-click="reLogin()" id="btnLogin">
            <span class="fa fa-sign-in"></span>
        </a>
    </nav>
        

    <!-- Jumbotron Box -->
   <!-- <div class="box jumbotron">
        <div class="row">

            <div class="col-sm-2"></div>
            <div class="container text-left col-sm-6">

                <h1>Check your FHIR<sup>&reg;</sup></h1>
                <p style="color: white; font-size: medium">A proof of concept app that checks if your FHIR web services are ready. Patient date retrieved will never be stored anywhere.</p>

            </div>
            <div class="col-sm-4 text-left">
                <img src="./Images/fhir.png" />
            </div>
        </div>

    </div>
    -->

    <!-- Content Container -->
    <div class="container-fluid" id="contentContainer">

        <!-- EMR Login -->
        <div class="row pt-5" id="emrLogin">
            <!--<div class="col-md-6 col-lg-8" style="background-image: url(./Images/myChart2.png); background-position:left; background-size:cover; background-repeat: no-repeat; height: 100%">
                
            </div>-->
            <div class="col-sm-0 col-md-2 col-lg-3"></div>
            <div class="col-sm-12 col-md-8 col-lg-6" style="height: 100%;">
                <div class="text-center box" style="min-height: 350px; max-width: 500px; min-width: 300px; margin: auto">
                    <div class="row" id="about" ></div>
                    <p>Please log into your EMR and grant access to retrieve your patient data.</p>

                    
                    <div class="input-group">
                        <select class="custom-select" id="inputGroupSelectEMR" aria-label="Select EMR" ng-model="fhirEndpointUrl" ng-change="updateSettings()">       
                            <option ng-repeat="x in fhirOrgs" value="{{x.FHIRPatientFacingURI}}">{{x.OrganizationName}}</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" ng-click="oauthLogin()">Login</button>
                        </div>
                    </div>

                   <p></p>
                    <p></p>
                    <hr />
                    <p></p>
                    <p></p>

                    <p> -OR- </p>
                    <button class="btn-danger btn-lg btn-block" ng-click="testCase('epic')">Epic Sandbox</button>
                    <p></p>
                    <button class="btn-primary btn-lg btn-block" ng-click="testCase('ohmcExt')">Overlake Hospital & Medical Center</button>
                    
                    <p></p>
                    <div hidden><input type="checkbox" ng-model="lastLogin" checked/> Remember your last selection</div>
                </div>

                <div id="debugBox" class="box sr-only">
                    <div class="">
                        <pre id="txtStatus">{{statusText}}</pre>
                        <dl class="dl-horizontal">
                            <dt>FHIR Base URL</dt>
                            <dd>{{fhirBaseUrl}}</dd>

                            <dt>FHIR Authorize Url</dt>
                            <dd>{{fhirAuthUrl}}</dd>

                            <dt>FHIR Token Url</dt>
                            <dd>{{fhirTokenUrl}}</dd>

                            <dt>FHIR Endpoint Url</dt>
                            <dd>{{fhirEndpointUrl}}</dd>

                            <dt>Client ID</dt>
                            <dd>{{clientId}}</dd>

                            <dt>Authorization Code</dt>
                            <dd>{{oauthCode}}</dd>

                            <dt>Access Token</dt>
                            <dd>{{accessToken}}</dd>

                            <dt>Patient ID</dt>
                            <dd>{{patient}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-0 col-md-2 col-lg-3"></div>
        </div>


        <!-- EMR Data -->
        <div class="row collapse col-sm-12 col-md-10 col-lg-8" id="emrData" style="margin: auto">

                      
                <div class="box tab-content" id="tabContent">
                    
                    <div id="demographic" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tabDemographic">
                        <table class="table table-bordered table-hover table-responsive table-condensed bg-success">
                            <tbody>
                                <tr ng-repeat="(key,value) in patientDemo">
                                    <th scope="row">{{key}}</th>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>
                       
                        <ul class="nav nav-tabs-justified">
                            <li class="active" data-toggle="collapse" data-target="#dataPatient"><a href="#">Full result in Json</a></li>
                        </ul>    
                        <div><pre id="dataPatient" class="json collapse"></pre></div>
                    </div>
                    
                    <div id="allergy" class="tab-pane fade" role="tabpanel" aria-labelledby="tabAllergy">
                        
                        <table class="table table-bordered table-hover table-responsive table-condensed bg-success" ng-repeat="t in allergies track by $index">
                            <!--<thead>
                                <tr>
                                    <th ng-repeat="(key, value) in allergies[0]">{{key}}</th>
                                </tr>                             
                            </thead>-->
                            <tbody>
                                <!--<tr ng-repeat="t in allergies track by $index">                                    
                                    <td ng-repeat="(key, value) in t">{{value}}</td>
                                </tr>-->
                                
                                <tr ng-repeat="(key,value) in t">
                                    <th scope="row">{{key}}</th>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="nav nav-tabs-justified">
                            <li class="active" data-toggle="collapse" data-target="#dataAllergyIntolerance"><a href="#">Full result in Json</a></li>
                        </ul>    
                        <div><pre id="dataAllergyIntolerance" class="json collapse"></pre></div>
                    </div>

                    <div id="immunization" class="tab-pane fade" role="tabpanel" aria-labelledby="tabImmunization">
                        <table class="table table-bordered table-hover table-responsive table-condensed bg-info" ng-repeat="t in immunizations track by $index">
                            <!--<thead>
                                <tr>
                                    <th ng-repeat="(key, value) in immunizations[0]">{{key}}</th>
                                </tr>
                            </thead>-->
                            <tbody>
                                <!--<tr ng-repeat="t in immunizations track by $index">
                                    <td ng-repeat="(key, value) in t">{{value}}</td>
                                </tr>-->
                                <tr ng-repeat="(key,value) in t">
                                    <th scope="row">{{key}}</th>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="nav nav-tabs-justified">
                            <li class="active" data-toggle="collapse" data-target="#dataImmunization"><a href="#">Full result in Json</a></li>
                        </ul>   

                        <div><pre id="dataImmunization" class="json collapse"></pre></div>
                    </div>

                    <div id="medication" class="tab-pane fade" role="tabpanel" aria-labelledby="tabMedication">
                        <table class="table table-bordered table-hover table-responsive table-condensed bg-warning" ng-repeat="t in medications track by $index">
                            <!--<thead>
                                <tr>
                                    <th ng-repeat="(key, value) in medications[0]">{{key}}</th>
                                </tr>
                            </thead>-->
                            <tbody>
                                <!--<tr ng-repeat="t in medications track by $index">
                                    <td ng-repeat="(key, value) in t">{{value}}</td>
                                </tr>-->
                                <tr ng-repeat="(key,value) in t">
                                    <th scope="row">{{key}}</th>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="nav nav-tabs-justified">

                            <li class="active" data-toggle="collapse" data-target="#dataMedicationOrder"><a href="#">Full result in Json</a></li>

                        </ul>   

                        <div><pre id="dataMedicationOrder" class="json collapse"></pre></div>
                    </div>
                    
                    <div id="lab" class="tab-pane fade" role="tabpanel" aria-labelledby="tabLab">
                        <!-- 7/24/17 -->
                        <table class="table table-bordered table-hover table-responsive table-condensed bg-warning" ng-repeat="t in labs track by $index">
                            <!--<thead>
                                <tr>
                                    <th ng-repeat="(key, value) in labs[0]">{{key}}</th>
                                </tr>
                            </thead>-->
                            <tbody>
                                <!--<tr ng-repeat="t in labs track by $index">
                                    <td ng-repeat="(key, value) in t">{{value}}</td>
                                </tr>-->
                                <tr ng-repeat="(key,value) in t">
                                    <th scope="row">{{key}}</th>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="nav nav-tabs-justified">
                            <li class="active" data-toggle="collapse" data-target="#dataObservation"><a href="#">Full result in Json</a></li>
                        </ul>   
                        <div><pre id="dataObservation" class="json collapse"></pre></div>
                    </div>
                </div>                
            </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom collapse" id="bottomNavbar">
        <button class="btn btn-default btn-block text-center navbar-brand" ng-click="loadFhirData()">Reload Data</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sideNavbar" aria-controls="sideNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sideNavbar" style="padding: 0">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tabDemographic" data-toggle="pill" href="#demographic" role="tab" aria-controls="pills-home" aria-selected="true">Demographics<span class="badge bg-primary" id="cntPatient"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabAllergy" data-toggle="pill" href="#allergy" role="tab" aria-controls="pills-home" aria-selected="false">Allergies<span class="badge bg-info" id="cntAllergyIntolerance"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabImmunization" data-toggle="pill" href="#immunization" role="tab" aria-controls="pills-home" aria-selected="false">Immunizations<span class="badge bg-info" id="cntImmunization"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabMedication" data-toggle="pill" href="#medication" role="tab" aria-controls="pills-home" aria-selected="false">Medications<span class="badge bg-info" id="cntMedicationOrder"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabLab" data-toggle="pill" href="#lab" role="tab" aria-controls="pills-home" aria-selected="false">Lab Observations<span class="badge bg-info" id="cntObservation"></span></a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" hidden>
        <li class="nav-item">
            <a class="nav-link active" id="tabDemographic" data-toggle="pill" href="#demographic" role="tab" aria-controls="pills-home" aria-selected="true">Demographics<span class="badge bg-primary" id="cntPatient"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabAllergy" data-toggle="pill" href="#allergy" role="tab" aria-controls="pills-home" aria-selected="false">Allergies<span class="badge bg-info" id="cntAllergyIntolerance"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabImmunization" data-toggle="pill" href="#immunization" role="tab" aria-controls="pills-home" aria-selected="false">Immunizations<span class="badge bg-info" id="cntImmunization"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabMedication" data-toggle="pill" href="#medication" role="tab" aria-controls="pills-home" aria-selected="false">Medications<span class="badge bg-info" id="cntMedicationOrder"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabLab" data-toggle="pill" href="#lab" role="tab" aria-controls="pills-home" aria-selected="false">Lab Observations<span class="badge bg-info" id="cntObservation"></span></a>
        </li>
    </ul>


    <!-- Footer -->
    <!--<footer class="container-fluid text-center box">
        <p>&copy; 2017 Pftech Healthcare Solutions</p>
    </footer>-->

</body>
</html>


