<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Health on FHIR</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />

    <!-- Bootstrap & JQuery -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Google AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Site AngularJS & CSS -->
    <script type="text/javascript" src="/js/smartFhir.js"></script>
    <script type="text/javascript" src="/js/myAngularApp2.js"></script>
    <script type="text/javascript" src="/js/EpicEndpoints.js"></script>
    <link rel="stylesheet" href="/css/site.css" />
  </head>

  <body ng-app="myApp" ng-controller="loginCtrl" id="pageTop">
    <!--Navigation bar-->
    <div id="nav-placeholder"></div>

    <script>
      $(function () {
        $('#nav-placeholder').load('include/nav.html');
      });
    </script>
    <!--end of Navigation bar-->

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModalCenter"
      hidden
    >
      Launch demo modal
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="redirect"
      tabindex="-1"
      role="dialog"
      aria-labelledby="redirect"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Redirecting to Github</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Due to temporary source code syncing issue between Azure and Github,
            you are being redirected to the same web app host on Github. As soon
            as we resolve the deployment issue on Azure, we will stop the
            redirecting. Sorry for the inconvenience.
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              OK
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              ng-click="cancelRedirect()"
            >
              Cancel Redirecting
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Main container -->
    <div
      class="container-fluid"
      id="mainIndex"
      style="display: flex; align-items: center;"
    >
      <!-- EHR Login -->
      <div class="container-fluid m-auto p-1" id="emrLogin">
        <div class="row">
          <!-- About -->
          <div
            class="row mx-auto py-2 px-3 col-sm-12 col-lg-5"
            id="about"
            style="max-width: 900px; min-width: 300px;"
          >
            <img
              src="/assets/smart-on-fhir.png"
              class="d-inline-block align-text-bottom m-auto p-2"
            />
            <blockquote class="lead">
              <p class="mb-1">
                This is a proof of concept app that uses the SMART<sup
                  >&reg;</sup
                >
                on FHIR<sup>&reg;</sup> specifications to integrate with EHR
                systems. Please login to an EHR to retrieve patient's health
                data.
              </p>
            </blockquote>
          </div>
          <!-- End of About -->

          <!-- Login selection box -->
          <div
            class="box mx-auto my-2 container-sm text-center col-sm-12 col-lg-7"
            id="loginOptions"
          >
            <hr data-content="Quick Login" class="hr-text mb-4" />

            <!-- Quick login #1 : Sample -->
            <button
              class="btn-info btn-lg btn-block my-2"
              ng-click="displaySampleData()"
            >
              View Sample Data
            </button>

            <!-- Quick login #2 : Epic Sandbox -->
            <button
              id="epicLogin"
              class="btn-danger btn-lg btn-block my-2"
              ng-click="testCase('epic')"
            >
              Epic Sandbox
              <span id="epicPassword" class="text-warning font-weight-light">
                Username: <b>fhirjason</b> &nbsp&nbsp Password: <b>epicepic1</b>
              </span>
            </button>

            <!-- Quick login #3 : OHMC -->
            <button
              class="btn-primary btn-lg btn-block my-2"
              ng-click="testCase('ohmcExt')"
            >
              Overlake Hospital & Medical Center
            </button>

            <hr data-content="Select an EHR" class="hr-text my-4" />

            <!-- Login dropdown selector -->
            <div class="input-group my-2">
              <select
                class="custom-select"
                id="inputGroupSelectEHR"
                aria-label="Select EHR"
                ng-model="serverIndex"
                ng-change="updateSettings()"
              >
                <!-- <option selected value="0">Choose data source...</option> -->
                <option ng-repeat="x in fhirOrgs" value="{{$index}}"
                  >{{x.OrganizationName}}</option
                >
              </select>
              <div class="input-group-append">
                <button
                  id="btnLogin"
                  class="btn btn-primary"
                  type="button"
                  ng-click="oauthLogin()"
                  disabled
                >
                  Login
                </button>
              </div>
            </div>

            <div>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  ng-model="rememberLastLogin"
                  ng-change="updateSettings()"
                  id="selectionCheck"
                  ng-checked="{{rememberLastLogin}}"
                />
                <label class="form-check-label" for="selectionCheck"
                  >Remember my selection</label
                >
                <i
                  class="fa fa-bug text-light float-right mt-1"
                  aria-hidden="true"
                  data-toggle="collapse"
                  data-target="#debugBox"
                ></i>
              </div>
            </div>
          </div>
          <!-- End of login selection box -->
        </div>
        <!-- Hidden box for debugging -->
        <div id="debugBox" class="box collapse">
          <div>
            <pre id="txtStatus">{{statusText}}</pre>
            <dl class="dl-horizontal">
              <dt>FHIR Base URL</dt>
              <dd><a href="{{fhirBaseUrl}}">{{fhirBaseUrl}}</a></dd>

              <dt>Meta URL</dt>
              <dd><a href="{{fhirMetaUrl}}">{{fhirMetaUrl}}</a></dd>

              <dt>FHIR Endpoint Url</dt>
              <dd><a href="{{fhirEndpointUrl}}">{{fhirEndpointUrl}}</a></dd>

              <dt>FHIR Authorize Url</dt>
              <dd><a href="{{fhirAuthUrl}}">{{fhirAuthUrl}}</a></dd>

              <dt>FHIR Token Url</dt>
              <dd><a href="{{fhirTokenUrl}}">{{fhirTokenUrl}}</a></dd>

              <dt>Client ID</dt>
              <dd>{{clientId}}</dd>

              <dt>Organization Name</dt>
              <dd>{{orgName}}</dd>

              <dt>Authorization Code</dt>
              <dd>{{oauthCode}}</dd>

              <dt>Access Token</dt>
              <dd>{{accessToken}}</dd>

              <dt>Patient ID</dt>
              <dd>{{patient}}</dd>
            </dl>
          </div>
        </div>
        <!-- End of Debug box -->
      </div>
      <!-- End of EHR login -->
    </div>
    <!-- End of main container -->

    <!-- Footer -->
    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $('#footer-placeholder').load('include/footer.html');
      });
    </script>
    <!-- End of Footer -->
  </body>
</html>
